body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.searchForm {
  height: 50px;
}

.searchBtn {
  height: 50px;
}

.btn {
  margin-left: 5px;
}

.jumbotron {
  margin-top: -20px;
  background: #7b4397;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.sortBtn {
  margin-right: 20px;
}